.fontaine-doc {
    font-family: "Courier Prime", "Courier New", Courier, sans-serif;

    h1, .fontaine-title-page-heading {
        text-align: center;
    }

    .fontaine-scene-heading {
        font-weight: bold;
    }

    .fontaine-transition {
    }

    .fontaine-character {
        margin: auto 3 * 4rem 0 3 * 4rem;
    }

    .fontaine-parenthetical {
        margin: 0 2 * 4rem 0 2 * 4rem;
    }

    .fontaine-dialog {
        margin: 0 4rem 0 4rem;
    }

    .fontaine-action-centered {
        text-align: center;
    }
}
